<a href="/charities/{{this.charity}}"><div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.client}}</h5>
            <h5 class="card-title">{{this.charityName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.amount}}</h6>
            
        </div>
        </div></a>