<form action="/clients/{{client._id}}?_method=PUT" method="POST" class="mx-auto form-inline" style="width:400px;">
        <!--    <input type="hidden" value="{{ Object }}" name="donations">-->
<!--        <input type="text" name="name">-->
        <input name="name" class="form-control mr-sm-2" type="Add Client" value="{{client.name}}" aria-label="Add Client">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Change Client</button>
<!--        <button type="submit" class="btn btn-primary">Add client</button>-->
    </form>