
<div id="search">
    <form action="/">
        <input type="text" name="term">
        <button type="submit">Search</button>
    </form>
    <div class="charities">
        {{#each charities}}
        <p>{{this.charityName}}</p>
        <p>{{this.currentRating.rating}}</p>
        {{/each}}
    </div>
</div>

